body{
    margin: 0;
    padding: 0;
    background-color: white;
    // font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

@mixin mobile {
    @media only screen and (max-width: 768px) {
      @content; // Include styles for mobile view
    }
  }
  
  // Define mixin for tablet view
  @mixin tablet {
    @media only screen and (min-width: 769px) and (max-width: 1024px) {
      @content; // Include styles for tablet view
    }
  }